<section class="section-social section-padding">
    <div class="social-shell">
        <h2 class="social-title section-title">
            @MARKITBYKINTO
        </h2>
        <div class="social-info">
            <p class="text-1">With <span>Mark it by kinto</span> Instagram account.</p>
            <p class="text-1">Introducing your personalized ideas.</p>
        </div>
        <div class="social-container">
            <ul class="social-images">
                <li class="social-img"><a href="/" class="img"><img
                            src="assets/images/socials/insta_01_1024x1024.jpg" alt="instagram image"></a>
                </li>
                <li class="social-img"><a href="/" class="img"><img
                            src="assets/images/socials/insta_02_1024x1024.jpg" alt="instagram image"></a>
                </li>
                <li class="social-img"><a href="/" class="img"><img
                            src="assets/images/socials/insta_03_1024x1024.jpg" alt="instagram image"></a>
                </li>
                <li class="social-img"><a href="/" class="img"><img
                            src="assets/images/socials/insta_04_1024x1024.jpg" alt="instagram image"></a>
                </li>
                <li class="social-img"><a href="/" class="img"><img
                            src="assets/images/socials/insta_05_1024x1024.jpg" alt="instagram image"></a>
                </li>
                <li class="social-img"><a href="/" class="img"><img
                            src="assets/images/socials/insta_06_1024x1024.jpg" alt="instagram image"></a>
                </li>
            </ul>
        </div>
    </div>
</section>