<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Hero -->
<section class="section-intro section-padding">
    <div class="intro">
        <!--Handles the left right padding-->
        <div class="intro-shell shell">
            {% if section.blocks.imageDesktop %}
                <div class="intro-slider">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <!-- bg-img -->
                            <div class="swiper-slide bg-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/slide1_cf97a009-c310-4634-971c-3d289be8205d_2480x.jpg?v=1626052132" alt=""></div>
                            <!-- small-img -->
                            <div class="swiper-slide small-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/SPslide1_750x.jpg?v=1624442832" alt=""></div>
                            <!-- bg-img -->
                            <div class="swiper-slide bg-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/slide4_caf7c2c2-367c-4ef6-ae9b-b6dcff57209f_2480x.jpg?v=1626052156" alt=""></div>
                            <!-- small-img -->
                            <div class="swiper-slide small-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/SPslide4_750x.jpg?v=1624442946" alt=""></div>
                            <!-- bg-img -->
                            <div class="swiper-slide bg-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/slide2_477cd339-05f0-49b6-8cb9-d4f7bdac7dbf_2480x.jpg?v=1626052178" alt=""></div>
                            <!-- small-img -->
                            <div class="swiper-slide small-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/SPslide2_9dca8298-55d9-4537-aec9-d8a1bfae0702_750x.jpg?v=1626052239" alt=""></div>
                            <!-- bg-img -->
                            <div class="swiper-slide bg-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/slide3_3536e56e-e990-49f6-9a12-5be0318f0c11_2480x.jpg?v=1626052209" alt=""></div>
                            <!-- small-img -->
                            <div class="swiper-slide small-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/SPslide3_750x.jpg?v=1624442927" alt=""></div>
                            <!-- bg-img -->
                            <div class="swiper-slide bg-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/slide5_2480x.jpg?v=1624434996" alt=""></div>
                            <!-- small-img -->
                            <div class="swiper-slide small-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/SPslide5_750x.jpg?v=1624442910" alt=""></div>
                            <!-- bg-img -->
                            <div class="swiper-slide bg-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/main_pc_01_2480x.jpg?v=1597796957" alt=""></div>
                            <!-- small-img -->
                            <div class="swiper-slide small-img"><img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/main_sp_01_750x.jpg?v=1597796972" alt=""></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            {% else %}
                <div class="intro-slider">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <!-- bg-img -->
                            <div class="swiper-slide bg-img">{% render "image-placeholder" %}</div>
                            <!-- small-img -->
                            <div class="swiper-slide small-img">{% render "image-placeholder" %}</div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>  
            {% endif %}
            <div class="intro-actions">
                <a href="/" class="btn-oval">
                    <span>
                        Order Now
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
            },
            effect: 'fade',
            speed: 3000,
            fadeEffect: {
                crossFade: true,
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            }
        });
    });
</script>

{% schema %}
{
    "name": "Hero Images",
    "settings": [
        {
            "type": "text",
            "id": "ctaText",
            "label": "CTA Text",
            "default": "Order Now"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "imageDesktop",
                    "label": "Image for desktop"
                },
                {
                    "type": "image_picker",
                    "id": "imageMobile",
                    "label": "Image for mobile"
                }
            ]
        }
    ]
}
{% endschema %}