<section class="section-visit section-padding">
    <div class="visit-shell shell">
        <h2 class="visit-title section-title">
            Visit
        </h2>
        <div class="visit-container">
            <div class="visit-image">
                <img src="assets/images/visit/page-visit.jpg" alt="">
            </div>
            <div class="visit-info">
                <div class="info-logo">
                    <img src="assets/images/markitlab_logo_white.png" alt="">
                </div>
                <div class="info-description">
                    <p>It is an experience space where you can enjoy <span>Mark It By Kinto</span>
                        even more. You can actually see the product in your hand.
                    </p>
                </div>
                <div class="info-btn">
                    <a href="/"><span>View More</span></a>
                </div>
            </div>
        </div>
    </div>
</section>