<section class="section-howto section-padding">
    <div class="howto-shell shell">
        <h2 class="products-title section-title">
            How to
        </h2>
        <div class="howto-tut">
            <div class="howto-step">
                <div class="stp-image">
                    <img src="assets/images/howto/step1.png" alt="" class="tut-image">
                </div>
                <div class="howto-detail">
                    <div class="stp-heading">
                        <p>Choose</p>
                    </div>
                    <div class="stp-info">
                        <p>Choose a product</p>
                    </div>
                </div>
            </div>
            <div class="howto-step">
                <div class="stp-image">
                    <img src="assets/images/howto/step2.png" alt="" class="tut-image">
                </div>
                <div class="howto-detail">
                    <div class="stp-heading">
                        <p>Mark it</p>
                    </div>
                    <div class="stp-info">
                        <p>Choose a color design</p>
                    </div>
                </div>
            </div>
            <div class="howto-step">
                <div class="stp-image">
                    <img src="assets/images/howto/step3.png" alt="" class="tut-image">
                </div>
                <div class="howto-detail">
                    <div class="stp-heading">
                        <p>Order</p>
                    </div>
                    <div class="stp-info">
                        <p>After the order is complete, delivered in: a stainless steel
                            tumbler: 6 business days - resin bottle: 3 business days.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>