@import "variables";
@import "functions";
@import "mixin";
@import "global";
@import "animation";

// Components
@import "header";
@import "hero-carousel";
@import "concept-movie";
@import "image-with-image";
@import "product-gallery";
@import "gallery-with-text";
@import "shop-steps";
@import "image-with-text";
@import "gallery-with-heading";
// @import "footer";